.top-container{
  background-color: #d4f3ef;
  margin-top: 0;
  padding-top: 100px;
  position:relative;
  height: 650px;



}
.skill-row{
  width: 50%;
  margin: 100px auto 80px auto;
  text-align: left;


}
.semi{
  position: absolute;
  bottom: 0;
  left: 250px;
}

h1{
  margin:60px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 5.625rem;


}

h2{
  font-family:  sans-serif;
  color: #66BFBF;
  margin-top: 5px;
  padding-bottom: 15px;
  padding-top: 20px;

}

h3{
  font-family:  sans-serif;
  color: #11999E;

}
.web{
  font-family:  sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  margin-top: 0;
  font-weight: normal;
}

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: sans-serif;


}
.top-cloud{
  position: absolute;
  right: 150px;
  top:100px;
}




.bottom-cloud{
  position: absolute;
  left:150px;
  bottom: 350px;
}
.middle-container{
  background-color: white;
  padding-bottom: 0;
  padding-top: 15px;
  margin: 20px 0;

}
.profile{
padding-top: 2px;


}
.bottom-container{
  background-color:  #82c4c3;
  padding: 40px 0 20px;



}
.aditya{
  width:200px;
  height: 200px;
}
.machine{
  width:25%;
  float:left;
  margin-right: 30px;
}

.deep{
  width:25%;
  float:right;
  margin-left:  30px;

}
.intro{
  width:30%;
  margin:auto;
  line-height: 2;
}
p{
  line-height: 2;
}
hr{
  background-color: white;
  border-style: none;
  height: 5px;
  width:10%;
  border-top-style: dotted;
  border-color: grey;
  border-width:5px;
  border-color: #82c4c3;
  margin: 60px auto;
}
.contact-me{
  padding-bottom: 5px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}


.myButton {
	background-color:#44c767;
	border-radius:6px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}




.footer-link{
  color: #11999E;
  margin: 0 20px 0 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}

.pro {
  text-decoration: underline;
}
